# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore SQLite database
/db.sqlite3

# Ignore pipenv virtual environment
/.venv/

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore system or backup files
*.swp
*~
.DS_Store

# Ignore environment-specific files
.env

# Ignore pipenv lock file
Pipfile.lock